/* * {
  border: 1px solid red;
} */

body {
  font-family: sans-serif;
  margin: 0;
  padding-bottom: 30px;
}

.flex-container-horizontal {
  display: flex;
  height: 80vh;
  margin-top: 6vh;
  justify-content: center;
  text-align: center;
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px;
  background-color: orange;
  align-items: stretch;
}

.image {
  display: flex;
  margin: auto;
  width: 100%;
  align-self: center;
  height: 100%;
}

.dither {
  height: 100%;
  width: 100%;
}

/* .box {
  width: 90%;
  margin: auto;
} */

.logo {
  width: 60%;
  height: 60%;
}

.fblogin {
  flex: 10;
}

.form {
  flex: 35;
}

.nextbutton {
  flex: 25;
}

.accbutton {
  flex: 10;
}

.nav-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: yellow;
  height: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

a {
  margin: 5px;
}

@media (max-width: 700px) {
  .left {
    display: none;
  }
}
